<h1>All Movies</h1>

<table>
  <tr>
    <td>Ranking</td>
    <td>Name</td>
    <td>Upvote</td>
  </tr>
  <% @movies.each do |movie| %>
  <tr>
    <td>Ranking: <%= movie.rank %></td>
    <!-- I googled the link_to stuff below and it works but it seems v magical -->
    <td><%= link_to "#{movie.name}", movie %></td>
    <td>Upvote Button</td>
  </tr>
  <% end %>
</table>

<%= link_to "Add New Movie", new_movie_path %>
