<h1>All Movies</h1>

<table class="table-hover table-responsive col-sm-12">
  <tr>
    <td>Ranking</td>
    <td>Name</td>
    <td>Upvote</td>
  </tr>
  <% @movies.each do |movie| %>
  <tr>
    <td>Ranking: <%= movie.rank %></td>
    <!-- I googled the link_to stuff below and it works but it seems v magical -->
    <td><%= link_to "#{movie.name}", movie %></td>
    <td><%= button_to "Upvote", upvote_path(movie) %></td>
  </tr>
  <% end %>
</table>

<%= link_to "Add New Movie", new_movie_path %>
