<h1><%= @movie.name %></h1>
<h2>Directed by: <%= @movie.director %></h2>
<div class=description>
  <%= @movie.description %>
</div>
<div class="upvote-button">
  UPVOTE BUTTON
</div>

<div class="other-buttons">
<span class="edit-button">EDIT BUTTON</span>
<span class="delete-button">DELETE BUTTON</span>
<span class="view-all-movies">VIEW ALL MOVIES</span>
<span class="view-everything">VIEW EVERYTHING</span>
</div>
