<div class="movies">
  <h1>Top Movies</h2>
  <% @movies.each do |movie| %>
  <div class="movie">
    <span class="movie-title"><%= link_to "#{movie.name}", movie %></span>
    <span class="ranking">Ranked: <%= movie.rank %></span>
  </div>
  <% end %>
  <!-- /class movie   -->
  <%= link_to "View More Movies", movies_path %>
</div>
<!-- /class movie -->
