body {
  font-family: 'Noto Sans', sans-serif;
}

h2 {
  color: grey;
  font-weight: bold;
}

a {
  font-size: 20px;
  font-weight: bold;
}

.header {
  position: relative;
}
.brand {
  background-image: url('alien-monster.png');
  background-repeat: no-repeat;
  // position: relative;
  // background-position: 1px 5px;
}
.brand h1{
  position: relative;
  left: 50px;
  bottom: -5px;
  font-size: 30pt;
  // font-family: 'Permanent Marker', cursive;
  font-family: 'Press Start 2P', cursive;
  letter-spacing: 5px;
  color: #7f44a7;
  border-left: 5px solid white;
}

.brand h2{
  font-size: 12pt;
  font-weight: bold;
  color: grey;
}

.brand a{
  color: inherit;
  text-decoration: none;
  font-size: inherit;
}

.header {
  border-bottom: 2px solid #7f44a7;
}

@media(max-width: 550px) {
  .brand h1 {
    font-size: 15pt;
    letter-spacing: 2px;
    bottom: -15px;
  }
}
