<!DOCTYPE html>
<html>
<head>
  <title>MediaRanker</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="header">
      <div class="brand">
        <h1>Media Ranker</h1>
        <h2>ranking the best of all the things</h2>
      </div>
    </div>
    <!-- /class header -->
  </div>
  <!-- /class container -->
<%= yield %>

</body>
</html>
